{% extends '_layout' %}
{% block main %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg-new.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>{{ entry.title }}</h1>
{#               <span class="subheading">Whazzis?</span>
 #}            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ entry.pageCopy }}
        </div>
      </div>
    </div>

    <hr>
{% endblock %}